@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

body {
    background-color: #eee;
    color: #464646;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    font-family: PT Sans, sans-serif;
    /* margin: 0 100px; */
}

.wrapper{
    display: flex;
    justify-content: center;
    gap: 16px;
}

main{
    width: 762px;
}

/*--- Section ---*/

.section {
    border-radius: 3px;
    background: white;
    margin: 16px 0;
    padding: 16px 24px 28px;
}

.section .section__title {
    font-size: 18px;
    font-weight: bold;
}

.section .section__content {
}

.section__separator {
    color: #0f8;
}

/*--- Contribution ---*/

.contr .contr__title {
    font-size: 21px;
}

.contr .contr__text {
    font-size: 16px;
}

.contr .contr__stack {
    /**/
}

.contr .contr__stack a {
    color: #464646;
}

/*--- Sidebar ---*/

.sidebar{
    /* justify-self: center; */
    width: 328px;
}

.work_xp .position {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #1463d9;
}

a:visited {
    color: #1483e9;
}

.contr:not(:first-of-type) {
    border-top: 1px solid #ededed;
}

.grey_p{
    color:#999;
}

b, .bold{
    font-weight: bold;
    color: #464646;
}

span{
    color: #464646;
}

.green{
    color: #65c178;
}

.sidebar button{
    color: #5677fc;
    border: 1px solid #5677fc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 14px;
    font-weight: bolder;
    padding: 6px 10px;
    transition: .2s ease;
}

.sidebar button:hover{
    background-color: #5677fc;
    color: white;
}

.right-text{
    text-align: right;
    float: right;
}